{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}SIMILARES{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="wrapper">
        <header class="main-header">
            <h1><a href="{% url 'app_producto:listar_productos' %}">SIMILARES</a></h1>
            <nav class="main-nav">
                <a href="{% url 'app_producto:listar_productos' %}">Productos</a>
                <a href="{% url 'app_producto:crear_producto' %}">Nuevo</a>
            </nav>
        </header>

        <main class="main-content">
            {% block contenido %}{% endblock %}
        </main>

        <footer class="main-footer">
            <p>© 2025 Similares Abraham Ochoa 0663</p>
        </footer>
    </div>
</body>
</html>